<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="text-center">
            <h1>Joyeux noel</h1>
            <span>En cette fin de session je vous souhaite un bon temps des fetes, merci d'avoir ete avec nous se fut un
                plaisir de vous avoir eu comme professeur</span>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/videoseries?list=PLs_BtJUr-PzQQLWIg82WdIOyYs0An9jzi" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="text-center">
        <h1 class="display-1">JOYEUX NOEL MONSIEUR <span class="text-warning">REDA</span></h1>
    </div>
</div>