<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height:100vh; background-color: black;">
        <div class="text-center col-sm-10">
            <h1 class="display-1 text-capitalize"><span class="text-info">Travail </span>
                <span class="text-white font-italic">Final</span>
            </h1>
            <h2 class="font-weight-light text-light">Voir la liste des utilisateurs</h2>
            <a [routerLink] = "['/crud']" class="btn btn-warning btn-lg px-4 m-3">Press Here</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 m-auto">
            <div class="row">
                <div class="table-responsive col-md-6">
                    <h2 class="text-center">Staff Salary</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Date</th>
                                <th scope="col">Salaire</th>
                                <th scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Pascal</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-info">Message</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-info">Message</button></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-info">Message</button></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Larry</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-info">Message</button></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Larry</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-info">Message</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
                <div class="table-responsive col-md-6">
                    <h2 class="text-center">Recent Payments</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Date</th>
                                <th scope="col">Prix</th>
                                <th scope="col">État</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Léa</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-success">Approuvé</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Coralie</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-success">Approuvé</button></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Louis</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-danger">EnAttente</button></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Jane</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-danger">EnAttente</button></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Naya</td>
                                <td>5300$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-success">Approuvé</button></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Pascal</td>
                                <td>1645$</td>
                                <td>25/09/2020</td>
                                <td><button type="button" class="btn btn-danger">EnAttente</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 m-auto">
            <div class="row justify-content-center">
                <div class="col-md-6 pt-md-5">
                    <div class="bg-dark text-white p-4 rounded">
                        <h4 class="mb-5">Sondage language de programmation</h4>

                        <h6 class="mb-3">JAVA-J2EE</h6>
                        <div class="progress mb-4" style="height: 20px;">
                            <div class="progress-bar progress-bar-striped font-weight-bold" style="width: 95%;">
                                95%</div>
                        </div>

                        <h6 class="mb-3">ANGULAR 10</h6>
                        <div class="progress mb-4" style="height: 20px;">
                            <div class="progress-bar progress-bar-striped font-weight-bold bg-success"
                                style="width: 85%;">
                                85%</div>
                        </div>

                        <h6 class="mb-3">REACT</h6>
                        <div class="progress mb-4" style="height: 20px;">
                            <div class="progress-bar progress-bar-striped font-weight-bold bg-danger"
                                style="width: 70%;">
                                70%</div>
                        </div>

                        <h6 class="mb-3">PHP</h6>
                        <div class="progress mb-4" style="height: 20px;">
                            <div class="progress-bar progress-bar-striped font-weight-bold bg-info" style="width: 13%;">
                                13%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>